DATABASE_URL="file:./prisma/dev.db"
JWT_SECRET="sua-chave-super-secreta-tech5-2026"
PORT=3000
NODE_ENV="development"
CORS_ORIGIN="http://localhost:5173"

# Credenciais do administrador (usadas no seed)
ADMIN_NAME="Administrador Lili&Gu"
ADMIN_EMAIL="admin@liligu.com"
ADMIN_CPF="52998224725"
ADMIN_PASSWORD="Admin123!"
